@using Spring_Microfinance_Management_System.Common
@using Spring_Microfinance_Management_System.Common.Const


<header id="header" style="height: auto;">
    <p>Spring Microfinance Management System</p>
    <div id="message-area" style="text-wrap: normal;"></div>
</header>



