
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/fontawesome.min.css">
    <div>
        @Html.Partial("_PartialSideBar")
        @RenderBody()
    </div>

</body>
</html>


